QWidget {
    background-color: #333333;
}

QWidget {
    border: 2px solid #bb0000; 
    border-radius: 5px;
    color: white;

}

QTextEdit {
    background-color: #44444454;
}

QLabel {
    border: none; 
}

QCheckBox {
    border: none;
}